
a {
    text-decoration: none;
}

header div#logo {
    position:absolute;
    top:1vh;
    left:1vw;
}

.navbar {
    position: relative;
    box-sizing: border-box;
    background-color: #03036e;
    height: 10vh;
    top: 17vh;
    border: none;
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
}

.navbar ul {
    
    display: inline-block;
    font-weight: bold;
    margin-top: 3.5vh;
    font-size: 1em;
    list-style: none;
    float: right;
    margin-right: 5vw;
}

.navbar li {
    display:inline-block;
    padding-right: 1.5vw;
}

.navbar a {
    color:white;
}

/* Dropdown Button */
.dropbtn {
    background-color: #2980B9;
    border:none;
    color:white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0vh;
    padding: 24.5%;

    
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;  
    margin-top: 0vh;
    margin-left: 53vw;
    font-weight: bold;
    font-size: 1em;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10.5vw;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    font-family: "Open Sans",sans-serif;
    color: black;
    padding: 1em;
    text-decoration: none;
    display: block;
    font-size: 1em;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


ul#lit {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5em;
    color: #000000;
    list-style-type: none;
    margin-left: 7vw;
    margin-right: 7vw;
}

div#header {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    margin-top: 25vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* Horizontal line */
div#hr {
    margin-left: 10vw;
    margin-right:10vw;
}

p#lit_h2 {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-size: 1.5em;
    color: #483D68

}

body>ul>li {
    padding-bottom: 2vh;
}
body>ul>li>a {
    color: #000000
}