
a {
    text-decoration: none;
}

header div#logo {
    position:absolute;
    top:2em;
    left:2em;
}



div#navbar {
    position: relative;
    box-sizing: border-box;
    background-color: #03036e;
    height: 4em;
    top: 8em;
    border: none;
    margin: 0;
    padding: 0;
}

ul#navbar_ul {
    list-style: none;
    margin-left: 15vw;
    margin-right: 15vw;

    
}

.dropdown_content {
    display: none; /* remove this to show all links before hovering */
    position: absolute;
    background-color: #f9f9f9; /* dropdown items - background colour */
    width: 100%; /* can remove this if you want to make the menu wider/narrower  */
    /* min-width: 180px; can add this if you need to change the minimu width of menu */
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.3);
}
.dropdown_content a {
    font-family:Arial;
    color: #000000;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
}


body {

    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
div#header {
    margin-top: 11em;
    margin-left: 17vw;
    margin-right: 17vw;
}

div#hr {
    margin-left: 17vw;
    margin-right:17vw;

}

p#lit_h2 {
    font-size: 20px;
    color: #483D68

}

ul#lit {
    list-style-type: none;
    margin-left: 15vw;
    margin-right: 15vw;
}

body>ul>li {
    padding-bottom: 1em;
}
body>ul>li>a {
    color: #000000
}